Body {
  background-color: #2A9D8F;
}

.interview-box {
  margin: 1em 0;
  background-color: #e9c46a;
  color: #264653;
}

.participant-box {
  background-color: #333;
  color: #fff;
  margin: 0.3em 0;
}

.info-box {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0.1em 0;
}

.form-box {
  background-color: #e9c46a;
  margin: 1em 0;
}

.form-label {
  margin: 0.2em 0;
  width : 12em;
}
